
body{
	background-color: yellow;
}

*{
	box-sizing: border-box;
}

.box{
	display: inline-grid;
	width: 33%;
	height: 200px;
	margin:  40px auto;
	border: 1px solid black;
	background-color: gray;}

h1{
	text-align: center;
	font-size: 50px;
	margin: 50px;
	font-style: italic;
}



.text{
	font-size: 20px;
	text-align: left;
	text-overflow: ellipsis;
	position: relative;
	margin-left: 5px;
	font-family: Arial, Helvetica, sans-serif;
	float: right;

}

.container{
	text-align: center;

}

#Chicken{
	background-color: lightblue;
}

#Beef{
	background-color: pink;
	color: white;
}

#Sushi{
	background-color: lightgreen;
}

	.food{
	font-size: 30px;
	font-style: bold;
	text-align: center;
	display: block;
	position: relative;
	left: 57%;
	margin: 0px;
	width: 200px;
	height:50px;
	border: 2px solid black;
	font-family: Arial, Helvetica, sans-serif;
	float: right;
}


@media (min-width: 992px) {

	.box{
	display: inline-grid;
	width: 33%;
	height: 200px;
	margin:  40px auto;
	border: 2px solid black;
	background-color: gray;}
	
}

	.food{
	font-size: 30px;
	font-style: bold;
	text-align: center;
	display: block;
	position: relative;
	left: 57%;
	margin: 0px;
	width: 200px;
	height:50px;
	border: 2px solid black;
	font-family: Arial, Helvetica, sans-serif;
	float: right;
}



@media (min-width: 768px ) and (max-width: 991px ) {

	.box{
	display: inline-grid;
	width: 40%;
	height: 200px;
	margin:  40px auto;
	margin-right: 2.5%;
	border: 2px solid black;
	background-color: gray;}


	#third{
		display: inline-grid;
		width: 85%;
		height: 200px;
		margin:  40px auto;
		border: 2px solid black;
		background-color: gray;


	}

	.food{
	font-size: 30px;
	font-style: bold;
	text-align: center;
	display: block;
	position: relative;
	left: 48%;
	margin: 0px;
	width: 200px;
	height:50px;
	border: 2px solid black;
	font-family: Arial, Helvetica, sans-serif;
	float: right;
}

	#Sushi{
		position: relative;
		left: 75.8%;
		float: right;
	}



}

@media (max-width: 767px){

	.box{
	display: inline-grid;
	width: 80%;
	height: 33%;
	margin: 5%;
	border: 2px solid black;
	background-color: gray;}

	.food{
	font-size: 30px;
	font-style: bold;
	text-align: center;
	display: block;
	position: relative;
	left: 64%;
	margin: 0px;
	width: 200px;
	height:50px;
	border: 2px solid black;
	font-family: Arial, Helvetica, sans-serif;}
	
}






